$theme: #122f3b;
$theme_white: #FFFFFF;;
$selected: #c5d0f1;
$text: #525250;
$text-white: #FFFFFF;
$cyan: #8be9fd;

.nav-tag{
  padding-right: 30px;
}

.is-fullheight{
  min-height: calc(100vh - ( 3.25rem - .75rem ) )
}
.horizontal-scrollbar{
  overflow: auto !important;
}


.right-shadow{
  box-shadow: 1px 0 5px 0 rgba(2, 2, 2, 0.56), 2px 0 15px 0 rgba(0, 0, 0, 0.09);
  
}

.navbar.has-shadow{
  box-shadow: 0 1px 2px 0 #122f3b;
}

.left-shadow{
  box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
}
.tag-notif{
  border-radius: 50%;
  position: absolute;
  top: 5px;
  margin-left: 10px;

  @media (max-width: 768px) {
    margin-left: -2px;
  }
}
.hero{
  background-color: $theme_white;
}
.navbar{
  background: $theme_white;

  &-item{
    background-color: $theme_white;
    color: $text !important;
    &.is-active{
      background-color: $selected !important;
      color: $text !important;
    }
    &:hover {
      background-color: $selected !important;
      color: $text !important;
    }
  }

  .is--brand{
    &:hover {
      background-color: $theme_white !important;
    }
  }

  &-brand-logo{
    max-height: 3rem !important;
    background-color: $theme_white;
    border-radius: .25em;
    padding: .25em;
  }

  &-dropdown{
    background-color: $theme_white;
    .navbar-item{
      background-color: $theme_white;
    }
  }

  &-burger{
    background-color: $theme_white !important;
    border: 0;
    span{
      background-color: $cyan;
    }
  }

  &-link{
    color: $text;

    figure{
      img{
        border-radius: 50%;
        max-height: 2em;
      }
    }

    &:hover{
      background-color: $theme_white;
    }
  }
}

.message.is-dark{
  .message-body{
    background-color: lighten($theme_white, 5%);
  }
}

.breadcrumb:not(:last-child){
  margin-bottom: 0;
}

@media screen and (min-width: 1088px) {
  .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: $theme_white;
  }
}
// navigation left area
.aside{
  background: $theme;
  padding: 2em .2em 0 1em;

  a{
    color: $text_white;
  }

  .menu-list {
    li {
      margin-top: .5em;
    }
  }
}

// main area
.main{
  padding: 2em 2em 2em 2em;
}

.menu-label{
  color: $cyan;
  margin-left: .5em;
}

.block{
  margin-top: .5em;
}