<template>
    <b-modal id="modalShowAbout" v-model='active' ref="modalShowAbout" :width="840" scroll="keep">
        <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                    Информация о сервисе DBFShow.Online
                </p>
              </header>
            <div class="content" style="padding:10px">
            <p>В настоящее время реализован простой просмотр DBF файлов.</p>
            <p>В дальнейших планах:</p>
            <ul>
              <li>Сортировка</li>
              <li>Фильтрация</li>
              <li>Статистика</li>
              <li>Конвертер форматов</li>
              <li>Редактирование файлов</li>
              <li>Создание файлов</li>
              <li>Просмотр и редактирование MEMO полей</li>
            </ul>
            </div>

        </div>
    </b-modal>
</template>

<script>
export default {
  data() {
    return {      
      active: false
    };
  },
  methods: {
    showModal() {
                this.active = true;
            },
  
  }
};
</script>
<style scoped>
</style>