<template>
    <div>
    <menudbfshow @click="onClickedMenu"></menudbfshow>    
    
    <nav v-if="fileinfo.filename!=null" class="level">
        <div class="level-left">
            <div class="level-item">
            </div>
        </div>
        <div class="level-right">
            <p class="level-item attention"><a v-on:click="onResize()">Автоширина колонок</a></p>
            <p class="level-item"></p>
        </div>
    </nav>

    <div class="test-height">
        <b-progress type="is-success" :value='total' show-value v-if="uploaded"></b-progress>

        <UploadDbfShow v-if="fileinfo.filename==null" @uploadedfile="onUploadedFile"></UploadDbfShow>
        <div id="parent_grid">
            <div id="grid_"></div>
        </div>
    </div>
    <nav v-if="fileinfo.filename!=null" class="level" style="font-size: small;">
        <div class="level-left">
            <div class="level-item">
                <b>Строк:</b> {{this.fileinfo.rows_count }}
            </div>
            <div class="level-item">
                <b>колонок:</b> {{ this.fileinfo.columns_count}}
            </div>
            <div class="level-item">
                <b>Формат:</b> {{ this.fileinfo.version}}
            </div>
            <div class="level-item">
                <b>Кодировка:</b> {{ this.fileinfo.encoding}}
            </div>
        </div>
        <div class="level-right">
            <p class="level-item"></p>
            <p class="level-item"></p>
        </div>
    </nav>
    <AboutDbfShow ref="modalShowAbout"></AboutDbfShow>
    </div>
</template>

<script>
import JqxGrid from "jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid.vue";
import UploadDbfShow from "./UploadDbfShow.vue";
import Menudbfshow from './MenuDbfShow'
import AboutDbfShow from './AboutDbfShow.vue'

export default {
    components: {
    JqxGrid,
    UploadDbfShow,
    Menudbfshow,
    AboutDbfShow
},
        data: function(){
            return{
                dbf: null,                
                fileinfo:{
                    rows_count:0,
                    columns_count:0,
                    filename:null,
                },
                page:1,
                total: 0,        

                uploaded: false,                
                refgrid: null,
                settings: {
                        width: '100%',
                        height: '100%',
                        theme:'material',
                        showemptyrow:true,                        
                        //autorowheight:true,
                        enabletooltips:true,                        
                        columnsheight:40,
                        columnsresize: true,
                        columnsautoresize: true,
                        pageable :true,
                        pagesize: 35,
                        virtualmode:true,                    
                        source: null,
                        rowsheight: '20',
                        rendergridrows: (params) => {       //Необходимо для виртуального режима
                            return params.data;
                        },
                        columns: [ ],
                },
            }},
        methods: {
            onLoadCompleted(){
              console.log('loadcompleted');              
            },
            onClickedMenu(param){
                if (param='close' && this.fileinfo.filename!=null)
                    this.onClose();
                if (param='about')
                    this.$refs.modalShowAbout.showModal();

            },
            //Закрыть открытый файл
            onClose() {
              this.fileinfo.filename=null;
              var element = document.getElementById('parent_grid');
              element.innerHTML = '';
              let div_=document.createElement('div');
              div_.id='grid_';
              element.appendChild(div_);
            },
            onResize() {
              this.refgrid.autoresizecolumns();
            },
            cellClass: function (row, columnfield, value) {                
                if (this.settings.source.records[row]._is_deleted81 == 1)
                    return 'deleted';
                else
                    return 'none';
            },
            selectFile(event) {                     
                const config = {
                    onUploadProgress: function(progressEvent) {
                    this.total = Math.round((progressEvent.loaded * 100) / progressEvent.total)
                }.bind(this)
                };
                this.dbf = event;
                const data = new FormData();
                data.append('dbf', this.dbf);
                this.uploaded = true;
                axios.post("/dbfshow/api/upload", data, config).then(({ data })=>{
                    this.fileinfo = data.info;
                    this.total = data.info.rows_count;
                    this.uploaded = false;
                    const source = {
                        datafields: data.datafields,                    
                        data:{
                            filename: this.fileinfo.filename,
                            page:1,
                            _token: document.querySelector('[name="_token"]').value,
                        },
                        datatype: 'json',
                        type:'POST',
                        root: 'data',
                        cache: false,
                        id:'id',
                        totalrecords:data.info.rows_count,
                        reccount: 0,
                        url: "/dbfshow/api/show"
                    };                                                                                
                    this.settings.source =  new jqx.dataAdapter(source);
                    this.settings.columns = data.columns;
                    for(let i=0;i<this.settings.columns.length; i++)
                        this.settings.columns[i].cellclassname= this.cellClass;

                    this.refgrid = jqwidgets.createInstance(`#grid_`, 'jqxGrid', this.settings);
                    //this.refgrid.addEventHandler('loadComplete', this.onLoadCompleted);
                    //this.refgrid.addEventHandler('pagechanged', this.onLoadCompleted);
                    this.total=0;
                }).catch(error => {
                     console.log(error);
                     this.uploaded=false;
                     this.$buefy.snackbar.open({
                            duration : 10000,
                            message: 'Ошибка загрузки файла. Возможно данный формат файла не подерживается 8(',
                            type: 'is-danger',
                            position: 'is-top',
                            actionText: 'Ok 8(',
                            queue: false,
                            onAction: () => {
                                this.$buefy.toast.open({
                                    message: 'Action pressed',
                                    queue: false
                                })
                            }
                    })
                });
            } ,
            onUploadedFile(events){
                this.selectFile(events);
            },
            showDbf() {
                const data = new FormData();
                data.append('filename', this.fileinfo.filename);
                data.append('page',this.page);
                axios.post("/dbfshow/api/show", data).then(({ data })=>{                
                    //this.hotSettings.data = data.data;                    
                    //this.$refs.hotTableComponent.hotInstance.loadData(this.hotSettings.data);
                }).catch(error => {                     
                     this.$buefy.snackbar.open({
                            duration : 10000,
                            message: error,
                            type: 'is-danger',
                            position: 'is-top',
                            actionText: 'Ok 8(',
                            queue: false,
                            onAction: () => {
                                this.$buefy.toast.open({
                                    message: 'Action pressed',
                                    queue: false
                                })
                            }
                    });
                });

            },
        }
    }

</script>
<style>
    .programm-window{
        overflow: auto;
        height: calc(100vh*0.75);
        width: calc(100vw*0.95);
    }
    #parent_grid{
        height:100%;
    }

    .test-height{
        height: 75vh;
        background-color: white;
    }
    .level{
        margin: 0px !important;
        background-color: white;
    }
    .attention{
        font-weight: bold;
    }
    .jqx-grid-cell.deleted {
        color: #c72a18 !important;
    }
    .jqx-grid-cell-selected.deleted {
        color: #c72a18 !important;
    }
    .jqx-grid-cell-hover.deleted {
        color: #c72a18 !important;
    }
    .jqx-grid-column-header{
        z-index: 10 !important;
        border: 1px solid #f0f0f0 !important;
        color: black !important;
    }
    
    .jqx-widget-content-material
    {
        font-size:12px !important;
    }
    .jqx-fill-state-hover-material
    {
        font-size:12px !important;
    }
    .jqx-grid-cell-selected{
        font-size:12px !important;
    }

</style>
