<template>
    <div >
        <div v-if='uploaded'>Загрузка {{ total }}</div>
        <input type="file" @change="selectFile" accept=".dbf">
        <hot-table class="programm-window" ref="hotTableComponent" :settings="hotSettings"></hot-table>

    </div>
</template>

<script>
import { HotTable } from '@handsontable/vue';
import { registerAllModules } from 'handsontable/registry';

registerAllModules();

export default {
        components: {
            HotTable
        },
        data: () => ({
            hotSettings:{
                colHeaders:['one', 'two', 'three'],
                data:[],
                columns:[],
                autoColumnSize: true,
                autoRowSize: false,
                fillHandle: true,
                filters: true,
                rowHeaders: true,
                licenseKey:"non-commercial-and-evaluation",
            },
            dbf: null,            
            page:1,
            total: 0,
            filename:'',
            uploaded: false,
        }),

        methods: {
            selectFile(event) {     
                const config = {
                    onUploadProgress: function(progressEvent) {
                    this.total = Math.round((progressEvent.loaded * 100) / progressEvent.total)
                }.bind(this)
                };
                this.dbf = event.target.files[0];
                const data = new FormData();
                data.append('dbf', this.dbf);
                this.uploaded = true;
                axios.post("/dbfshow/api/upload", data, config).then(({ data })=>{
                    this.hotSettings.colHeaders=data.columns_name;
                    this.hotSettings.columns = data.columns;
                    this.filename = data.filename;
                    this.total = data.total ;
                    this.uploaded = false;
                    this.showDbf();
                })
            } ,
            showDbf() {
                const data = new FormData();
                data.append('filename', this.filename);
                data.append('page',this.page);
                axios.post("/dbfshow/api/show", data).then(({ data })=>{
                    this.hotSettings.data = data.data;                    
                    this.$refs.hotTableComponent.hotInstance.loadData(this.hotSettings.data);
                })
            },
        }
    }

</script>
<style scoped>
    .programm-window{
        overflow: auto;
        height: calc(100vh*0.75);
        width: calc(100vw*0.95);
    }
</style>
