<template>
    <div class="navbar-dbf">
        <b-navbar>
            <template #brand>
                <b-navbar-item>
                    <h2 class="dbfshow">DBFShow</h2>
                </b-navbar-item>
            </template>
            <template #start>
                <b-navbar-dropdown label="Файл">
                    <b-navbar-item @click="onClicked('close')" href="#">
                        Закрыть
                    </b-navbar-item>
                </b-navbar-dropdown>
                <!--<b-navbar-item :active="false" href="#">
                    Правка
                </b-navbar-item>-->
                <b-navbar-item @click="onClicked('about')" href="#">
                        О сервисе
                </b-navbar-item>
            </template>
            <template #end>
                <b-navbar-item tag="div">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </b-navbar-item>
            </template>
        </b-navbar>
    </div>
</template>

<script>
    export default {
        components: {},
        data: function () {
            return {}
        },
        methods: {
            onClicked(param){
                this.$emit('click',param );
            }
        }
    }

</script>
<style scoped>
.dbfshow{
    font-weight: bold;
    font-size: 20px;
    color:#7456ce;
}
.navbar-dbf{
    border: 1px solid #e1e8e5;    
}
</style>
