<template>
    <div>
        <div v-for="item in data.data" class="row note">
            <div class="col">
                <div><span class="font-weight-bold">Модель:</span> {{ item.name | removeString('Ноутбук ') }}</div><span>{{ item.class }}</span>
            </div>
            <div class="col">
                <div><span class="font-weight-bold">Процессор:</span>{{ item.cpu_type }}</div>
            </div>
            <div class="col">
                <div><span class="font-weight-bold">Тип памяти:</span>{{ item.ram_type }}</div>
            </div>
            <div class="col">
                <div><span class="font-weight-bold">Память:</span>{{ item.ram_size }}<div></div>
                </div>
            </div>
        </div>
    </div>
  
</template>>
<script>
    export default {
        props: ['data'],
        filters: {
            removeString: function (string, param) {
                //return string.replace('Ноутбук ','');
                return string.replace(param, '');
            }

        },
        data: function () {
            return {
                notes: [],
                name: '',
                cpu_type: '',
                ram_type: '',
                ram_size: '',
            }
        }
    }

</script>
<style>
    .row.note {
        padding: 10px;
        margin: 5px;
        background-color: rgb(248, 248, 248);
        ;
    }

</style>
