<template>
    <div>
          <b-select v-model="perpage" v-on:input='onPerPageChange'>
                <option value="5"> По 5 записей</option>
                <option value="10">По 10 записей</option>
                <option value="15">По 15 записей</option>
                <option value="20">По 20 записей</option>
            </b-select>        
        <b-table
            :data="data.data" 
            :columns="columns" 
            :loading="loading"
            detail-key="id_note"
            detailed
            :opened-detailed="[3]"
            paginated
            :total="total"
            :per-page="perpage"
            @page-change="onPageChange"
            backend-pagination
            focusable
            hoverable>          

           <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                Это {{props.row.color }} {{props.row.class }} ноутбук на платформе <strong>{{ props.row.platform }}</strong> с процессором <strong>{{ props.row.cpu_type+ ' ' + props.row.cpu_code +' ('+props.row.cpu_speed+') '}}</strong>. Выпуск {{  props.row.year }}
                                Разрешение {{ (props.row.sensor_display=='yes') ? 'сенсорного ' : '' }}экрана <strong>{{props.row.resolution }} </strong>. Графический адаптер {{ props.row.gpu_type}} - <strong>{{ props.row.gpu}}</strong>. Тип накопителя <strong>{{ (props.row.hdd_type)==null ? "SSD" : "HDD" }}</strong> с объемом <strong> {{ (props.row.hdd_type) == null ? props.row.ssd_size : props.row.hdd_type }}</strong>
                            </p>
                        </div>
                    </div>
                </article>
            </template>
        </b-table>
        
    </div>
  
</template>>
<script>
    export default {
        //props: ['data'],
        filters: {
            removeString: function (string, param) {
                return string.replace(param, '');
            }

        },
        data: function () {
            return {
                data:[],
                notes: [],
                columns: [                    
                    {
                        field: 'name',
                        label: 'Модель',                        
                    },
                    {
                        field: 'cpu_type',
                        label: 'Процессор',
                        width: '300',
                    },
                    {
                        field: 'ram_type',
                        label: 'Тип памяти',
                        width: '150',
                    },
                    {
                        field: 'ram_size',
                        label: 'Объем памяти',
                        width: '150',
                        numeric: true
                    }
                ],
                perpage:10,
                loading: false,
                total:0,
                page: 1,
            }
        },
        methods:{
            onPageChange(page){
                this.page = page;
                this.loadAsyncData(page);
            },
            onPerPageChange(page){
                this.loadAsyncData(this.page);
            },
            loadAsyncData(page=1) {
                this.loading = true;
                 axios.get('api/get-notes?page='+page+'&per_page='+this.perpage).then(({ data })=>{
                    this.data=[];
                    this.total = data.total;
                    this.data = data;
                });
                this.loading = false
            }
        },
          mounted() {
            this.loadAsyncData()
        }
    }

</script>
<style>
    .row.note {
        padding: 10px;
        margin: 5px;
        background-color: rgb(248, 248, 248);
        ;
    }

</style>
