<template>
  <section class="upload-dbf">
    <b-field class="file">
      <b-upload @input="onInput" v-model="file" expanded accept=".dbf">
        <a class="button is-primary is-fullwidth">
          <b-icon pack="fa" icon="upload"></b-icon>
          <span>{{ file.name || "Нажмите для загрузки"}}</span>
        </a>
      </b-upload>
    </b-field>
    <b-field>
      <b-upload @input="onInput" v-model="file" drag-drop expanded accept=".dbf">
        <section class="section">
          <div class="content has-text-centered">
            <p>
              <b-icon pack="fa" icon="upload" size="is-large"></b-icon>
            </p>
            <p>Бросьте сюда файл или нажмите для загрузки</p>
          </div>
        </section>
      </b-upload>
    </b-field>
  </section>
</template>

<script>
export default {
  data() {
    return {
      file: {},
    };
  },
  methods: {
    onInput(events){
        this.$emit('uploadedfile', events);
    },
  }
};
</script>
<style scoped>
    .upload-dbf{
        width:400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding-top: 50px;
    }
</style>